
p, .title {
  font-family: "Raleway";
}

.index-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

@media only screen and (max-width: 850px) {
  .sidebar {
    display: none;
  }
  .index-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}