.head-main {
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(0, 0, 0, .6);
  border-bottom: 1px solid rgba(252, 251, 247, .2)
}

.head-left {
  margin-top: auto;
  margin-bottom: auto;
}

.head-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.head-link {
  font-size: 1.0rem;
  color: #fcfbf7 !important;
  text-decoration: none;
}

.head-link:hover {
  text-decoration: none;
}

.head-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-links {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search-link {
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (max-width: 850px) {
  .social-links {
    display: none;
  }
}

.post-header {
  display: flex;
  flex-direction: column;
  flex-wrap : nowrap;
  -ms-flex-wrap : nowrap;
  justify-content: center;
  -ms-flex-pack : center;
  align-items : center;
  -ms-flex-align : center;
  align-content : flex-start;
  -ms-flex-line-pack : start;
}
