.recent-posts > li > a {
  font-size: 1.0rem;
  text-decoration: none;
}

.recent-posts > li > a:hover {
  text-decoration: underline;
}

.recent-posts > li > a:link, .recent-posts > li > a:visited, .recent-posts > li > a:visited, .recent-posts > li > a:hover, .recent-posts > li > a:active {
  color: #212529;
}